<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="com.tests" verbose="5" data-provider-thread-count="1">
	<test name="Positive">
		<classes>
		    <class name="com.tests.PositiveTests"/>
		</classes>
	</test>  
    <test name="Negative">
	    <classes>
		    <class name="com.tests.NegativeTests"/>
	    </classes>
</test>
</suite>